body, main {
    display: flex
}
body {
    flex-direction: column;
}
header {
    background-color: #fff0db;
    padding-left: 20px;
}
header .logo{
 color: brown;
}
main {
    flex-direction: row;
    flex: auto;
}
main article {
    overflow-y: auto;
    flex: 2;
}
main aside {
    flex: 1;
    overflow-y: auto;
}
footer{
    background-color: #fff0db;
}
